{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTPAW</title>

</head>
<body>
<h1>Introduce los siguientes datos</h1>
{% if method == 'GET' %}
<form action="{% url 'hola' %}" method="post">
{% csrf_token %}
        nombre: <input type="input" name="nombre" id="nombre" value="{{ nombre }}">
        asignatura: <input type="input" name="asignatura" id="asignatura" value="{{ asignatura }}">
<input type="submit" value="Dale!">
</form>
{% else %}

Hola {{nombre}}, estos son los datos que me has pasado:

<table>
    <tr>
        <td>nombre: </td>
        <td>{{nombre}}</td>
    </tr>
    <tr>
        <td>asignatura: </td>
        <td>{{asignatura}}</td>
    </tr>
</table>

{% endif %}
</body>
</html>
