{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <header>Bienvenidos al curso CTPAW</header>
    <div class="poll-area">
        <p>
            <a href="{% url 'pregunta' id_pregunta %}">Comenzar la encuesta</a>
        </p>
    </div>

    <header>Recursos</header>
    <div class="poll-area">
        <p>
            <a href="http://ctpaw.juandarodriguez.es/static/recursos/Presentacion_curso_ctpaw.pptx">Presentación</a>
        </p>
    </div>
    <header>Ejercicios</header>
    <div class="poll-area">
        <p>
            <a href="http://ctpaw.juandarodriguez.es/static/recursos/Ejercicios-1-unix-shell.pdf">Ejercicios 1: UNIX</a>
        </p>
        <p>
            <a href="http://ctpaw.juandarodriguez.es/static/recursos/Ejercicios-2-python.pdf">Ejercicios 2: Python</a>
        </p>
         <p>
            <a href="http://ctpaw.juandarodriguez.es/static/recursos/Ejercicios-3-sqlite.pdf">Ejercicios 3: Sqlite</a>
        </p>
         <p>
            <a href="http://ctpaw.juandarodriguez.es/static/recursos/Ejercicios-4-http.pdf">Ejercicios 4: Web</a>
        </p>
    </div>
</div>
{% endblock %}