{% extends "base.html" %}

{% block content %}
<div class="wrapper">
    <form action="{% url 'votar' pregunta.id %}" method="post">
        {% csrf_token %}
        <header>{{ pregunta.texto }}</header>
        <div class="poll-area">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for opcion in pregunta.opcion_set.all %}
            <input type="radio" name="opcion" id="opcion{{ forloop.counter }}" value="{{ opcion.id }}">
            <label for="opcion{{ forloop.counter }}">{{ opcion.texto }}</label><br>
            {% endfor %}
            <input type="submit" value="Votar">
        </div>
    </form>
</div>
{%endblock%}