{% extends "base.html" %}

{% load mathfilters %}

{% block content %}
<div class="wrapper-2">
    <h1>Resultados</h1>

    <p>Total de sesiones: {{sesiones.numero}}</p>
    <dl>
        {% if sesiones.numero == 0 %}
        <p>Nadie ha respondido aún a la encuesta</p>
        {% else %}
        {% for pregunta in preguntas %}
        <dl>
            <dt>
                {{pregunta.texto}}
            </dt>
            {% for opcion in pregunta.opcion_set.all %}

            <dd class="percentage percentage-{{ opcion.votos | div:sesiones.numero | mul:100 | floatformat:0}}">
            <span class="text">
                {{opcion.texto}} ({{ opcion.votos | div:sesiones.numero | mul:100 | floatformat:2}} %)
            </span>
            </dd>
            {% endfor %}
        </dl>

        {% endfor %}
        {% endif %}


        {% endblock %}
</div>