{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTPAW</title>
    <link rel="stylesheet" type="text/css" href="{% static 'encuestas/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'encuestas/bars.css' %}">

</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
